HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
application.properties

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Environment Variables ###
.env

### Uploads ###
backend/uploads/*
!backend/uploads/attachments/
!backend/uploads/avatars/
!backend/uploads/groupAvatars/

backend/uploads/attachments/*
backend/uploads/avatars/*
backend/uploads/groupAvatars/*

!backend/uploads/attachments/.gitkeep
!backend/uploads/avatars/.gitkeep
!backend/uploads/groupAvatars/.gitkeep